.App {
  text-align: center;
  // disable scroll all over the app
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100vh;

  .btn {
    cursor: pointer;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body,
.root {
  height: 100%;
  position: relative;
}
