.App {
  text-align: center;

  // position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html,
body,
.root {
  height: 100%;
  position: relative;
}
